.container {
  font-family: 'Pacifico', sans-serif;
  position: relative;
  text-align: center;
  background-color: 	#FFD1DC;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
  animation: fadeIn 1.5s;
  text-align: center;
  padding: 50px;
}

/* Reusable class to trigger fade-in when showing pages dynamically */
.fade-in {
  animation: fadeIn 1.5s;
}

body {
    background: linear-gradient(to left, #ffc0cb 20%, #ff4d6d 100%); 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

#btnNo {
  transition: all 0.2s ease;
  position: relative;
  z-index: 999;
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#btnYes {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

h1.animate-pop {
  animation: pop 0.6s ease;
  font-size: 40px;
  text-align: center;
}

.hidden {
    display: none !important;
}

#second-page {
    animation: fadeIn 1.5s;
    text-align: center;
    padding: 20px;
}

#second-page {
    text-align: center;
    color: #ff4d6d; /* O culoare roz/roșie să iasă în evidență */
    margin-top: 0px;
    font-family: Arial, sans-serif;
}

#second-page h1 {
    text-align: center;
    font-size: 36px;
    color: #000000;
} 

#second-page-buttons button {
  transition: all 0.2s ease;
  position: relative;
  z-index: 999;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}


